.DS_Store
node_modules
/.local/
/.wrangler/
/src/lib/server/generated/prisma/
*.db
*.db-journal
*.db-shm
*.db-wal
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
languages
/playwright/
*.log
*.swp
/out/
Thumbs.db
ehthumbs.db
